
audio_text_model
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

audio_text_model/
audio_text_model_optimized/
audio_text_model_optimized_unfreeze/
audio_text_model_optimized_wo_alignment/
audio_text_model_optimized_unfreeze_3_layers/
audio_text_model_optimized_unfreeze_5_layers/
audio_text_model_optimized_wt_word_alignment/

common_voice_data/
cv_results/
.env
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test

teste1.mp3
similarity_comparison.png
/home/yperezhohin/speech_transcript_embeddings/audio_text_model_optimized_unfreeze

audio_text_model_optimized_unfreeze_5_layers_wt_alignment/final_model.pt
audio_text_model_optimized_unfreeze_3_layers_wt_alignment_correct_encoder/best_model_gap.pt
audio_text_model_optimized_unfreeze_3_layers_wt_alignment_correct_encoder/best_model_loss.pt
audio_text_model_optimized_unfreeze_3_layers_wt_alignment_correct_encoder/final_model.pt
=1.5.0
.gitignore
=3.10.3
=4.67.1
=3.6.0
