
audio_text_model
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

audio_text_model/
audio_text_model_optimized/
common_voice_data/
cv_results/
.env
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test

teste1.mp3
similarity_comparison.png